<% provide(:title, 'API Docs') %>
<% provide(:description, 'Documentation for the DSDA API') %>

<div class="center-text">
  <div class="docs-container">
    <% get_docs().map.with_index do |c, i| %>
      <details <%= "open" if i == 0 %> class="docs-details left-text">
        <summary class="docs-summary"><%= c[:endpoint] %></summary>
        <p><%= c[:description] %></p>
        <br>
        <table class="table docs-table">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Required</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% c[:parameters].map do |p| %>
              <tr>
                <td><code><%= p[:name] %></code></td>
                <td><%= p[:required] %></td>
                <td><%= p[:type] %></td>
                <td><%= p[:description] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <hr>
        <h5>Example Request</h5>
        <pre class="docs-pre"><%= c[:example_request] %></pre>
        <hr>
        <h5>Example Response (200 OK)</h5>
        <pre class="docs-pre"><%= c[:example_response] %></pre>
      </details>
    <% end %>
  </div>
</div>
