<% provide(:title, 'Home') %>
<% provide(:description, 'Archive and leaderboards for classic Doom, Heretic, and Hexen speedrunning') %>

<div class="jumbotron">
  <div class="container">
    <h2>Doom Speed Demo Archive</h2>
    <p>
      This site archives demos created for Doom and related games
      (Heretic, Hexen, etc).  Demos may be recorded using any source port,
      although care should be taken to use the intended environment for each
      WAD.  Post your demos to the
      <a href="https://www.doomworld.com/forum/37-doom-speed-demos/">
        Speed Demo Forum
      </a>
      on DoomWorld.
    </p>
    <p>
      <strong>The site is currently a work in progress:
      we are mirroring Andy's DSDA, but it is still the primary source.
      There are many errors and omissions that we are working on.</strong>
    </p>
    <p>
      New? Check out the <%= link_to('Intro', intro_path) %> for general rules and useful information.
    </p>
    <% cache "home_v001:#{last_update}" do %>
      <h4>
        Hosting <%= Demo.count %> demos, by <%= Player.count %> players, for
        <%= Wad.count %> wads, with a total time of
        <%= Service::Tics::ToString.call(Demo.all.sum(:tics), with_cs: false) %>
      </h4>
    <% end %>
  </div>
</div>

<% cache "home_active_v002:#{last_update}" do %>
  <% day_range = 90 %>
  <div class="hidden-overflow">
    <div class="center-text col-md-6">
      <div class="panel panel-default panel-modest">
        <div class="panel-heading">
          <h3 class="panel-title">Active Wads (last <%= day_range %> days)</h3>
        </div>
        <table class="table table-modest">
          <% active_wads(day_range).each do |wad_id, count| %>
            <%= active_wad_entry(Wad.find(wad_id), count) %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="center-text col-md-6">
      <div class="panel panel-default panel-modest">
        <div class="panel-heading">
          <h3 class="panel-title">Active Players (last <%= day_range %> days)</h3>
        </div>
        <table class="table table-modest">
          <% active_players(day_range).each do |player_id, count| %>
            <%= active_player_entry(Player.find(player_id), count) %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>

<%= render 'layouts/categories' %>
<%= render 'layouts/info' %>
