<% provide(:title, "Home") %>

<div class="jumbotron">
  <div class="container">
    <h2>Doom Speed Demo Archive</h2>
    <p>
      This site archives demos created for Doom and related games
      (Heretic, Hexen, etc).  Demos may be recorded using any source port,
      although care should be taken to use the intended environment for each
      WAD.  Post your demos to the 
      <a href="https://www.doomworld.com/vb/doom-speed-demos/">
        Speed Demo Forum
      </a> 
      on DoomWorld.
      <strong>The site is currently in the prototype stage:
      the backend and frontend are real, but the data is seeded.</strong>
    </p>
    <% cache "home:#{last_update}" do %>
      <h4>
        Hosting <%= Demo.count %> demos, by <%= Player.count %> players, for <%= Wad.count %> wads, with a total time of <%= Demo.tics_to_string(Demo.all.sum(:tics), false) %>
      </h4>
    <% end %>
  </div>
</div>

<%= render "layouts/categories" %>
<%= render "layouts/info" %>
