<% provide(:title, 'Home') %>

<div class="jumbotron">
  <div class="container">
    <h2>Doom Speed Demo Archive</h2>
    <p>
      This site archives demos created for Doom and related games
      (Heretic, Hexen, etc).  Demos may be recorded using any source port,
      although care should be taken to use the intended environment for each
      WAD.  Post your demos to the
      <a href="https://www.doomworld.com/forum/37-doom-speed-demos/">
        Speed Demo Forum
      </a>
      on DoomWorld.
      <strong>The site is currently a work in progress:
      most of the backend is complete, but much of the work needed to parse
      old data and extract new data is still underway.</strong>
    </p>
    <% cache "home:#{last_update}" do %>
      <h4>
        Hosting <%= Demo.count %> demos, by <%= Player.count %> players, for
        <%= Wad.count %> wads, with a total time of
        <%= Demo.tics_to_string(Demo.all.sum(:tics), false) %>
      </h4>
    <% end %>
  </div>
</div>

<% cache "home_active:#{last_update}" do %>
  <% demo_count = 100 %>
  <div class="container">
    <div class="center-text col-md-6">
      <div class="panel panel-default panel-modest">
        <div class="panel-heading">
          <h3 class="panel-title">Active Wads (last <%= demo_count %> demos)</h3>
        </div>
        <div class="panel-body">
          <table class="table table-modest">
            <% active_wads(demo_count).each do |wad_id, count| %>
              <%= active_wad_entry(Wad.find(wad_id), count) %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="center-text col-md-6">
      <div class="panel panel-default panel-modest">
        <div class="panel-heading">
          <h3 class="panel-title">Active Players (last <%= demo_count %> demos)</h3>
        </div>
        <div class="panel-body">
          <table class="table table-modest">
            <% active_players(demo_count).each do |player_id, count| %>
              <%= active_player_entry(Player.find(player_id), count) %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'layouts/categories' %>
<%= render 'layouts/info' %>
