<% provide(:title, 'Stats') %>
<% provide(:description, "Detailed stats for the archive as a whole") %>

<div class="page-header">
  <h1>
    Stats & Charts
  </h1>
</div>

<% cache [:stats_v002, last_update] do %>
  <% time_sum = Demo.all.sum(:tics) %>
  <% demo_count = Demo.count %>
  <% player_count = Player.count %>
  <% wad_count = Wad.count %>

  <h4>Number of demos = <%= demo_count %></h4>
  <h4>Number of players = <%= player_count %></h4>
  <h4>Number of wads = <%= wad_count %></h4>
  <h4>Total demo time = <%= Service::Tics::ToString.call(time_sum, with_cs: false) %> </h4>
  <h4>Average demos per player = <%= demo_count / player_count %></h4>
  <h4>Average demos per wad = <%= demo_count/ wad_count %></h4>
  <h4>Average demo time = <%= Service::Tics::ToString.call(time_sum / demo_count, with_cs: false) %></h4>
<% end %>

<hr>
<div class="center-text">
  <h3>Record Index Top 50</h3>
  <p>The Record Index is the number of demos beaten by record runs.</p>
  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped table-modest">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Record Index</th>
        </tr>
      </thead>
      <tbody>
        <% @record_index_players.each_with_index do |player, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= link_to player.name, player_path(player) %></td>
            <td><%= player.record_index %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="demo_count_by_year" class="chart-style">
  <%= column_chart Domain::Demo.demo_count_by_year,
  title: 'Demo Count by Year (Estimated)',
  dataset: default_bar_plot_options,
  library: default_plot_options,
  nonce: content_security_policy_script_nonce,
  id: 'demo_count_by_year', html: '' %>
</div>
