<% provide(:title, "Settings") %>

<div class="center-text">
  <h1>Settings</h1>

  <div class="well well-modest left-text">
    <%= bootstrap_form_tag url: settings_path, method: 'patch' do |f| %>
      <h4>Category Filters</h4>
      <%= f.form_group :demo_filters do %>
        <% demo_filter_json = demo_filter_array %>
        <% category_filter = demo_filter_json['category'] %>
        <% Category.reorder(:game).chunk { |i| i.game }.each do |chunk| %>
          <hr>
          <p><%= chunk[0] %></p>
          <% chunk[1].each do |category| %>
            <% name = category.name %>
            <%= f.check_box "cat:#{name}", label: name,
                            checked: !category_filter.include?(name) %>
          <% end %>
        <% end %>
        <hr>
        <p>Additional Filters</p>
        <%= f.check_box 'tas', label: 'TAS', checked: !demo_filter_json['tas'] %>
        <%= f.check_box 'coop', label: 'Coop', checked: !demo_filter_json['coop'] %>
        <hr>
      <% end %>
      <hr>
      <%= f.submit 'Save Settings' %>
    <% end %>
  </div>
</div>
