<% provide(:title, 'Ports') %>
<div class="center-text">
  <div class="panel panel-default panel-modest left-text">
    <div class="panel-heading">
      <h3 class="panel-title">
        List of Ports
        <% if logged_in? %>
          <%= link_to "Create New Port", new_port_path, :class => "label label-info pull-right" %>
        <% end %>
      </h3>
    </div>
    
    <table class="table">
      <tbody>
        <% @ports.chunk { |i| i.family }.each do |chunk| %>
          <tr>
            <td><%= chunk[0] %></td>
            <td>
              <% if logged_in? %>
                <% port = chunk[1].shift %>
                <%= link_to port.version, edit_port_path(port) %>
                <% chunk[1].each do |port| %>
                  , <%= link_to port.version, edit_port_path(port) %>
                <% end %>
              <% else %>
                <%= chunk[1].shift.version %>
                <% chunk[1].each do |port| %>
                    , <%= port.version %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>