<% provide(:title, 'Change Password') %>

<div class="center-text">
  <div class="well well-modest left-text">
    <%= bootstrap_form_for(@admin, url: edit_path, method: :patch) do |f| %>
      <legend>Change Password</legend>
      <%= f.password_field :current_password %>
      <%= f.password_field :password, label: "New password" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
