<% provide(:title, 'Edit Demo') %>

<div class="center-text">
  <div class="well well-modest left-text">
    <%= bootstrap_form_for(@demo) do |f| %>
      <legend>Edit Demo</legend>
      <%= f.number_field :guys, :label => "Player Count (in game)" %>
      <%= f.select :tas, [["Not Tas", 0], ["Segmented", 1], ["Slowdown", 2],
                          ["Partial Building", 3], ["Built", 4]],
                          :label => "Tas Level" %>
      <%= f.text_field :level, :placeholder => "Map 02, E1M4, E3, D2ALL, etc" %>
      <hr>
      <div id="player_fields">
        <%= label_tag "Players", nil, class: "control-label" %>
        <% @demo.players.each do |player| %>
          <%= render partial: "player_field", locals: { player: player } %>
        <% end %>
        <%= render partial: "player_field", locals: { player: nil } %>
      </div>
      <p class="btn btn-info btn-xs" id="addNewPlayer">Add New Player</p>
      <hr>
      <%= f.text_field :time, :placeholder => "hh:mm:ss[.tt]" %>
      <%= f.text_area  :engine, :size => "1x2",
                       :placeholder => "PRBoom+ v2.5.1.4 cl9\nXDRE 2.14" %>
      <%= f.text_area  :levelstat, :size => "1x2",
                       :placeholder => "[hh:]mm:ss[.tt]\n[hh:]mm:ss[.tt]" %>
      <%= f.text_field :wad_username, :label => "Wad",
                       :placeholder => "doom, btsx, etc" %>
      <%= f.number_field :version, :label => "Wad Version" %>
      <%= f.select     :category_name, Category.select_list,
                       :label => "Category",
                       :placeholder => "UV Speed, Other, etc" %>
      <%= f.datetime_field :recorded_at, :label => "Record Date" %>
      <hr>
      <div id="tag_fields">
        <%= label_tag "Tags", nil, class: "control-label" %>
        <% @demo.tags.each do |tag| %>
          <%= render partial: "tag_field", locals: { tag: tag } %>
        <% end %>
        <%= render partial: "tag_field", locals: { tag: nil } %>
      </div>
      <p class="btn btn-info btn-xs" id="addNewTag">Add New Tag</p>
      <hr>
      <%= f.submit "Update", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>

<div class="no-display" id="new_tag_form">
  <%= render partial: "tag_field", locals: { tag: nil } %>
</div>
<div class="no-display" id="new_player_form">
  <%= render partial: "player_field", locals: { player: nil } %>
</div>
