<% provide(:title, "Feed") %>

<div class="center-text">
  <h1>Recent Updates</h1>
  <%= demo_feed_sub_header %>
  <table class="table table-striped table-modest">
    <thead>
      <tr>
        <th>Date</th>
        <th>Wad</th>
        <th>Iwad</th>
        <th>Level</th>
        <th>Category</th>
        <th>Player(s)</th>
        <th>Engine</th>
        <th class="center-text">Note</th>
        <th class="center-text">Time</th>
        <th><span class="glyphicon glyphicon-play" aria-hidden="true" aria-label="video"></span></th>
      </tr>
    </thead>
    <tbody>
      <% @demos.each do |demo| %>
        <tr>
          <td><%= safe_date(demo.send(@sort_field)) %></td>
          <td class="wadfile"><%= link_to demo.wad.short_name, demo.wad %></td>
          <td class="wadfile"><%= link_to demo.wad.iwad.short_name, demo.wad.iwad %></td>
          <td><%= demo.level %></td>
          <td><%= demo.category.name %></td>
          <td class="player-cell"><%= demo.players_text %></td>
          <td class="engine-cell"><%= demo.engine %></td>
          <%= demo_hidden_tag(demo) %>
          <%= demo_time_cell(demo) %>
          <%= demo_video_link(demo) %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @demos %>
</div>
