<% provide(:title, 'New Demo') %>

<div class="center-text">
  <div class="well well-modest left-text">
    <%= bootstrap_form_for(@demo, label_errors: true) do |f| %>
      <legend>Create New Demo</legend>
      <%= f.number_field :guys, :label => "Player Count (in game)" %>
      <%= f.select :tas, [["Not Tas", 0], ["Segmented", 1], ["Slowdown", 2],
                          ["Partial Building", 3], ["Built", 4]],
                          :label => "Tas Level" %>
      <%= f.text_field :level, :placeholder => "Map 02, E1M4, E3, D2ALL, etc" %>
      <%= f.text_field :player_1, :label => "Player" %>
      <%= f.text_field :time, :placeholder => "hh:mm:ss[.tt]" %>
      <%= f.text_area  :engine, :size => "1x2",
                       :placeholder => "PRBoom+ v2.5.1.4 cl9\nXDRE 2.14" %>
      <%= f.text_field :levelstat,
                       :placeholder => "hh:mm:ss[.tt],hh:mm:ss[.tt]..." %>
      <%= f.text_field :wad_username, :label => "Wad",
                       :placeholder => "doom, btsx, etc" %>
      <%= f.select     :category_name, Category.select_list,
                       :label => "Category",
                       :placeholder => "UV Speed, Other, etc" %>
      <%= f.datetime_field :recorded_at, :label => "Record Date" %>
      <%= f.text_field :file %>
      <%= f.submit "Create", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
