<% provide(:title, 'New Iwad') %>

<div class="center-text">
  <div class="well well-modest left-text">
    <%= bootstrap_form_for(@iwad) do |f| %>
      <legend>Create New Iwad</legend>
      <%= f.text_field :name %>
      <%= f.text_field :username, :label => "/iwads/***", :placeholder => "doom, chex, etc" %>
      <%= f.text_field :author %>
      <%= f.submit "Create", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
