<% provide(:title, @iwad.name) %>
<div class="center-text">
  <h1>
    <%= @iwad.name %>
    <small>
      <%= @iwad.author %>
    </small>
    <% if logged_in? %>
      <%= link_to edit_iwad_path(@iwad), :class => 'btn btn-info btn-xs' do %>
        <span class="glyphicon glyphicon-cog" aria-hidden="true" aria-label="Edit"></span>
      <% end %>
    <% end %>
  </h1>
  <p class="p-short"><%= pluralize(@iwad.wads.count, "wad") %></p>
  
  <div class="panel panel-default panel-modest left-text">
    <div class="panel-heading">
      <h3 class="panel-title">
        List of Wads
        <% if logged_in? %>
          <%= link_to "Create New Wad", new_wad_path(:iwad => @iwad.username), :class => "label label-info pull-right" %>
        <% end %>
      </h3>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th>File</th>
          <th>Name</th>
          <th>Author</th>
          <th>Iwad</th>
          <th>Demos</th>
          <th>Length</th>
        </tr>
      </thead>
      <tbody>
        <%= render @wads %>
      </tbody>
    </table>
  </div>
</div>