<% provide(:title, @iwad.name) %>
<div class="center-text">
  <h1>
    <%= @iwad.name %>
    <small>
      <%= @iwad.author %>
    </small>
  </h1>
  <p class="p-short">
    <%= pluralize(@iwad.wads.count, "wad") %>
    <% if logged_in? %>
      <%= link_to "Create New Wad", new_wad_path(:iwad => @iwad.username), :class => "label label-info pull-right" %>
    <% end %>
  </p>
  
  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped table-modest">
      <thead>
        <tr>
          <th>File</th>
          <th>Name</th>
          <th>Author</th>
          <th>Demos</th>
          <th class="center-text">Time</th>
        </tr>
      </thead>
      <tbody>
        <% @wads.each do |wad| %>
          <% if show_iwad?(wad.iwad_id) %>
            <tr>
              <td class="wadfile"><%= link_to wad.username, wad %></td>
              <td><%= wad.name %></td>
              <td><%= wad.author %></td>
              <td><%= wad.demos.count %></td>
              <td class="right-text demo-time"><%= total_time(wad, false) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>