<% provide(:title, "#{@iwad.name} | Stats") %>

<div class="page-header">
  <h1>
    <%= @iwad.name %> Stats & Charts
  </h1>
</div>

<% demos = Demo.where(wad: @iwad.wads) %>

<% cache @iwad do %>
  <% stats = iwad_stats(@iwad) %>

  <h4>Number of demos = <%= stats[:demo_count] %></h4>
  <h4>Number of players = <%= stats[:player_count] %></h4>
  <h4>Number of wads = <%= stats[:wad_count] %></h4>
  <h4>Total demo time = <%= stats[:total_time] %> </h4>
  <h4>Average demos per player = <%= stats[:demo_count] / stats[:player_count] %></h4>
  <h4>Average demos per wad = <%= stats[:demo_count] / stats[:wad_count] %></h4>
  <h4>Average demo time = <%= stats[:average_time] %></h4>
<% end %>

<div id="demo_count_by_month" class="chart-style">
  <%= column_chart demos_by_month(demos),
  title: 'Demo Count by Month',
  nonce: content_security_policy_script_nonce,
  id: 'demo_count_by_month', html: '' %>
</div>
