<% cache ['iwad_wad_partial_v001', wad] do %>
  <tr>
    <td class="wadfile"><%= link_to wad.short_name, wad %></td>
    <td><%= wad.name.truncate(25) %></td>
    <td><%= wad.author %></td>
    <% data = count_and_total_time(wad, false) %>
    <td><%= data.count %></td>
    <td class="right-text demo-time"><%= data.total_time %></td>
  </tr>
<% end %>
