<tr>
  <td class="wadfile"><%= link_to wad.short_name, wad %></td>
  <td><%= wad.name.truncate(25) %></td>
  <td><%= wad.author %></td>
  <td class="wadfile"><%= link_to wad.iwad.short_name, wad.iwad %></td>
  <% data = FastStats.count_and_total_time(wad, false) %>
  <td><%= data.demo_count %></td>
  <td class="right-text demo-time"><%= data.total_demo_time %></td>
</tr>
