<% provide(:title, "Compare Movies") %>

<div class="center-text">
  <div class="page-header">
    <%= compare_movies_header(@wad, @level, @category) %>
  </div>
  <div id="compareMoviesDropdowns">
    <% 2.times do |n| %>
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-short dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @demos[n].movie_text %> <span class="caret"></span>
        </button>
        <%= compare_movies_list(@demos) %>
      </div>
    <% end %>
  </div>

  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped table-modest">
      <thead>
        <tr>
          <th><%= @demos[0].movie_text %></th>
          <th><%= @demos[1].movie_text %></th>
          <th>Difference</th>
        </tr>
      </thead>
      <tbody>
        <% compare_movies_pairs(@demos[0], @demos[1]).each do |fields| %>
          <tr>
            <td class="right-text demo-time <%= fields[2] < 0 ? "better-time" : "" %>"><%= fields[0] %></td>
            <td class="right-text demo-time <%= fields[2] > 0 ? "better-time" : "" %>"><%= fields[1] %></td>
            <td class="right-text demo-time"><%= fields[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
