<% provide(:title, @wad.name) %>
<% provide(:description, "Speedrunning leaderboard for #{@wad.name}") %>

<div class="center-text">
  <% cache ['wad_leaderboard_header_v002', @wad, @category, @level] do %>
    <%= wad_header(@wad) %>
    <%= leaderboard_wad_sub_header(@wad, @category, @level) %>
  <% end %>
  <h3 class="p-short one-line">
    <%= @level %> <%= @category %> Leaderboard
  </h3>
  <br>
  <% cache ['wad_leaderboard_v002', @demos, @category, @level] do %>
    <div class="panel panel-default panel-modest left-text">
      <table class="table table-striped table-modest">
        <thead>
          <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Engine</th>
            <th class="center-text">Note</th>
            <th class="center-text">Time</th>
            <th><span class="glyphicon glyphicon-play" aria-hidden="true" aria-label="video"></span></th>
          </tr>
        </thead>
        <tbody>
          <% @demos.each_with_index do |demo, i| %>
            <tr>
              <td rowspan="3"><%= i + 1 %></td>
              <%= render demo %>
            </tr>
            <% cache demo do %>
              <tr></tr>
              <%= demo_tags(demo) %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
