<% provide(:title, 'New Wad') %>

<div class="center-text">
  <div class="well well-modest left-text">
    <%= bootstrap_form_for(@wad) do |f| %>
      <legend>Create New Wad</legend>
      <%= f.text_field :name %>
      <%= f.text_field :username, :label => "/wads/***",
                                  :placeholder => "doom, chex, etc" %>
      <%= f.text_field :author %>
      <%= f.text_field :iwad_username, :label => "Iwad",
                                       :placeholer => "doom, chex, etc" %>
      <%= f.form_group :flags do %>
        <%= f.check_box :single_map, label: "Single Map?", checked: false %>
      <% end %>
      <%= f.submit "Create", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
