<% provide(:title, @wad.name) %>

<% cache ["admin:#{logged_in?}", @wad] do %>
  <div class="center-text">
    <h1>
      <%= @wad.name %>
      <small>
        <%= @wad.author %>
      </small>
      <% if logged_in? %>
        <%= link_to edit_wad_path(@wad), :class => 'btn btn-info btn-xs' do %>
          <span class="glyphicon glyphicon-cog" aria-hidden="true" aria-label="Edit"></span>
        <% end %>
      <% end %>
    </h1>
    <p class="p-short">
      <%= demo_details(@wad) %>
      <% if logged_in? %>
        <%= link_to "Create New Demo", new_demo_path(:wad => @wad.username), :class => "label label-info" %>
      <% end %>
    </p>
    
    <div class="panel panel-default panel-modest left-text">
      <table class="table table-striped table-modest">
        <thead>
          <tr>
            <th>Level</th>
            <th>Category</th>
            <th>Player(s)</th>
            <th>Engine</th>
            <th class="center-text">Notes</th>
            <th class="center-text">Time</th>
          </tr>
        </thead>
        <tbody class="category-filter">
          <% @demos.chunk { |i| i.level }.each do |chunk_l| %>
            <% chunk_l[1].chunk { |i| i.category }.each do |chunk_c| %>
              <% chunk_c[1].each do |demo| %>
                <tr>
                  <% if demo == chunk_l[1].first %>
                    <td class="no-stripe-panel" rowspan="<%= chunk_l[1].count + 2 * tagged_demos(chunk_l[1]) %>"><%= demo.level %></td>
                  <% end %>
                  <% if demo == chunk_c[1].first %>
                    <td class="no-stripe-panel" rowspan="<%= chunk_c[1].count + 2 * tagged_demos(chunk_c[1]) %>">
                      <%= demo.category.name %>
                      <% if chunk_c[1].count > 5 %>
                        <%= link_to record_timeline_path(id: @wad.username, level: demo.level, category: demo.category.name) do %>
                          <span class="glyphicon glyphicon-stats" aria-hidden="true" aria-label="Timeline"></span>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                  <%= render demo %>
                </tr>
                <%= render partial: "demos/demo_tag", locals: {demo: demo} %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
