<% provide(:title, @wad.name) %>
<div class="center-text">
  <h1>
    <%= @wad.name %>
    <small>
      <%= @wad.author %>
    </small>
    <% if logged_in? %>
      <%= link_to edit_wad_path(@wad), :class => 'btn btn-info btn-xs' do %>
        <span class="glyphicon glyphicon-cog" aria-hidden="true" aria-label="Edit"></span>
      <% end %>
    <% end %>
  </h1>
  <p class="p-short"><%= demo_details(@wad) %></p>
  
  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped table-modest">
      <thead>
        <tr>
          <th>Level</th>
          <th>Category</th>
          <th>Player(s)</th>
          <th>Engine</th>
          <th class="center-text">Notes</th>
          <th class="center-text">Time</th>
        </tr>
      </thead>
      <tbody>
        <% @demos.chunk { |i| i.level }.each do |chunk_l| %>
          <% chunk_l[1].chunk { |i| i.category }.each do |chunk_c| %>
            <% chunk_c[1].each do |demo| %>
              <tr>
                <% if demo == chunk_l[1].first %>
                  <td class="no-stripe-panel" rowspan="<%= chunk_l[1].count + 2*Tag.where(demo: chunk_l[1]).distinct.count(:demo_id) %>"><%= demo.level %></td>
                <% end %>
                <% if demo == chunk_c[1].first %>
                  <td class="no-stripe-panel" rowspan="<%= chunk_c[1].count + 2*Tag.where(demo: chunk_c[1]).distinct.count(:demo_id) %>"><%= demo.category.name %></td>
                <% end %>
                <td class="player-cell"><%= demo.players_text %></td>
                <td><%= demo.port_text %></td>
                <td class="right-text"><%= demo.note %></td>
                <td class="right-text demo-time"><%= link_to demo.time, demo.file_path %></td>
              </tr>
              <% if demo.sub_categories.count > 0 %>
                <tr></tr>
                <tr>
                  <td class="tag-text" colspan="4"><%= demo.tags_text %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>