<% provide(:title, "#{@wad.name} | Stats") %>
<% provide(:description, "Detailed stats for #{@wad.name} speedruns") %>

<div class="center-text">
  <%= wad_header(@wad) %>
  <%= stats_wad_sub_header(@wad, category: @category, level: @level) %>
</div>

<% demos = Demo.where(wad: @wad) %>

<% cache ['wad_stats_v001', @wad] do %>
  <% stats = wad_stats(@wad) %>

<div class="center-text">
  <div class="panel panel-default panel-modest left-text">
    <div class="table-wrapper">
      <table class="table table-striped table-modest">
        <div class="panel-heading">
          <h3 class="panel-title center-text">Wad Stats</h3>
        </div>
        <tbody>
          <tr>
            <td>Number of demos</td>
            <td><%= stats[:demo_count] %></td>
          </tr>
          <tr>
            <td>Number of players</td>
            <td><%= stats[:player_count] %></td>
          </tr>
          <tr>
            <td>Total demo time</td>
            <td><%= stats[:total_time] %></td>
          </tr>
          <tr>
            <td>Average demos per player</td>
            <td><%= stats[:demo_count] / stats[:player_count] %></td>
          </tr>
          <tr>
            <td>Average demos time</td>
            <td><%= stats[:average_time] %></td>
          </tr>
          <tr>
            <td>Longest demo time</td>
            <td><%= stats[:longest_demo] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>
<% end %>

<div id="demo_count_by_year" class="chart-style">
  <%= column_chart demos_by_year(demos),
  dataset: default_bar_plot_options,
  library: default_plot_options,
  title: 'Demo Count by Year',
  nonce: content_security_policy_script_nonce,
  id: 'demo_count_by_year', html: '' %>
</div>
