<% provide(:title, "#{@wad.name} | Stats") %>
<% provide(:description, "Detailed stats for #{@wad.name} speedruns") %>

<div class="center-text">
  <% cache ['wad_stats_header_v001', @wad] do %>
    <%= wad_header(@wad) %>
    <%= stats_wad_sub_header(@wad, category: @category, level: @level) %>
  <% end %>
</div>

<% demos = Demo.where(wad: @wad) %>

<% cache @wad do %>
  <% stats = wad_stats(@wad) %>

  <h4>Number of demos = <%= stats[:demo_count] %></h4>
  <h4>Number of players = <%= stats[:player_count] %></h4>
  <h4>Total demo time = <%= stats[:total_time] %> </h4>
  <h4>Average demos per player = <%= stats[:demo_count] / stats[:player_count] %></h4>
  <h4>Average demo time = <%= stats[:average_time] %></h4>
  <h4>Longest demo time = <%= stats[:longest_demo] %></h4>
<% end %>

<div id="demo_count_by_year" class="chart-style">
  <%= column_chart demos_by_year(demos),
  dataset: default_bar_plot_options,
  library: default_plot_options,
  title: 'Demo Count by Year',
  nonce: content_security_policy_script_nonce,
  id: 'demo_count_by_year', html: '' %>
</div>
