<% provide(:title, 'Edit Player') %>

<div class="center-text">
  <div class="well well-modest left-text">
    <%= bootstrap_form_for(@player) do |f| %>
      <legend>Edit Player</legend>
      <%= f.text_field   :name %>
      <%= f.hidden_field :old_username, :value => @old_username %>
      <%= f.text_field   :username, :label => "/players/***", :placeholder => "leave blank for automatic generation" %>
      <%= f.text_field   :twitch,   :placeholder => "just the username itself (optional)" %>
      <%= f.text_field   :youtube,  :placeholder => "just the username itself (optional)" %>
      <%= f.submit "Update", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
