<% provide(:title, @player.name) %>
<div class="page-header">
  <h1>
    <%= @player.name %>
    <small>
      23 demos, 1:23:45
      
    </small>
    <div class="pull-right">
      <% if !@player.twitch.empty? %>
        <a href="<%= @player.twitch_url %>">Twitch</a>
      <% end %>
      <% if !@player.youtube.empty? %>
        <%= " | " if !@player.twitch.empty? %>
        <a href="<%= @player.youtube_url %>">YouTube</a>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Edit", edit_player_path(@player),
            :class => "label label-info" %>
        <%= link_to "Delete", @player, method: :delete,
            data: { confirm: "Are you sure?" },
            :class => "label label-danger" %>
      <% end %>
    </div>
  </h1>
</div>
