<% provide(:title, @player.name) %>

<% cache @player do %>
  <div class="center-text">
    <%= player_header(@player) %>
    <%= player_sub_header(@player) %>

    <div class="panel panel-default panel-modest left-text">
      <table class="table table-striped table-modest">
        <thead>
          <tr>
            <th>Wad</th>
            <th>Level</th>
            <th>Category</th>
            <th>Player(s)</th>
            <th>Engine</th>
            <th class="center-text">Note</th>
            <th class="center-text">Time</th>
            <th><span class="glyphicon glyphicon-play" aria-hidden="true" aria-label="video"></span></th>
          </tr>
        </thead>
        <tbody>
          <% @demos.chunk { |i| i.wad.short_name }.each do |chunk_w| %>
            <% chunk_w[1].chunk { |i| i.level }.each do |chunk_l| %>
              <% chunk_l[1].chunk { |i| i.category }.each do |chunk_c| %>
                <% chunk_c[1].each do |demo| %>
                  <tr>
                    <%= demo_wad_cell(demo, chunk_w[1], chunk_w[0]) %>
                    <%= demo_level_cell(demo, chunk_l[1]) %>
                    <%= demo_category_cell_lite(demo, chunk_c[1]) %>
                    <%= render demo %>
                  </tr>
                  <% cache demo do %>
                    <tr></tr>
                    <%= demo_tags(demo) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
