<% provide(:title, @player.name) %>
<div class="center-text">
  <h1>
    <%= @player.name %>
    <small>
      <% if !@player.twitch.empty? %>
        <a href="<%= @player.twitch_url %>">Twitch</a>
      <% end %>
      <% if !@player.youtube.empty? %>
        <%= " | " if !@player.twitch.empty? %>
        <a href="<%= @player.youtube_url %>">YouTube</a>
      <% end %>
      <% if logged_in? %>
        <%= link_to edit_player_path(@player), :class => 'btn btn-info btn-xs' do %>
          <span class="glyphicon glyphicon-cog" aria-hidden="true" aria-label="Edit"></span>
        <% end %>
      <% end %>
    </small>
  </h1>
  <p>23 demos, 1:23:45</p>
</div>