<% provide(:title, @player.name) %>
<div class="center-text">
  <h1>
    <%= @player.name %>
    <small>
      <% if !@player.twitch.empty? %>
        <a href="<%= @player.twitch_url %>">Twitch</a>
      <% end %>
      <% if !@player.youtube.empty? %>
        <%= " | " if !@player.twitch.empty? %>
        <a href="<%= @player.youtube_url %>">YouTube</a>
      <% end %>
      <% if logged_in? %>
        <%= link_to edit_player_path(@player), :class => 'btn btn-info btn-xs' do %>
          <span class="glyphicon glyphicon-cog" aria-hidden="true" aria-label="Edit"></span>
        <% end %>
      <% end %>
    </small>
  </h1>
  <p class="p-short"><%= demo_details(@player) %></p>
  
  <div class="panel panel-default panel-modest left-text">
    <div class="panel-heading">
      <h3 class="panel-title">
        List of Demos
      </h3>
    </div>
    
    <div class="panel-body panel-body-short">
      <table class="table">
        <thead>
          <tr>
            <th>Wad</th>
            <th>Level</th>
            <th>Category</th>
            <th>Engine</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% @demos.chunk { |i| i.wad.username }.each do |chunk| %>
            <% first = chunk[1].shift %>
            <tr>
              <td class="wadfile" rowspan="<%= chunk[1].count + 1 %>"><%= link_to chunk[0], first.wad %></td>
              <td><%= first.level %></td>
              <td><%= first.category.name %></td>
              <td><%= first.port.family %></td>
              <td><%= first.time %></td>
            </tr>
            <% chunk[1].each do |demo| %>
              <tr>
                <td><%= demo.level %></td>
                <td><%= demo.category.name %></td>
                <td><%= demo.port.family %></td>
                <td><%= demo.time %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>