<% provide(:title, "#{@player.name} | Stats") %>

<div class="page-header">
  <h1>
    <%= @player.name %> Stats & Charts
  </h1>
</div>

<% demos = @player.demos %>

<% cache @player do %>
  <% stats = player_stats(@player) %>
  <h4>Number of demos = <%= stats[:demo_count] %></h4>
  <h4>Longest demo = <%= stats[:longest_demo] %></h4>
  <h4>Total time = <%= stats[:total_time] %></h4>
  <h4>Average demo time = <%= stats[:average_time] %></h4>
  <h4>Number of wads = <%= stats[:wad_count] %></h4>
  <h4>Average demos per wad = <%= stats[:average_demo_count] %></h4>
  <h4>Most recorded wad = <%= stats[:top_wad] %></h4>
  <h4>Most recorded category = <%= stats[:top_category] %></h4>
  <h4>Tas count = <%= stats[:tas_count] %></h4>
  <h4>Record index = <%= @player.record_index %></h4>
<% end %>

<div id="demo_count_by_month" class="chart-style">
  <%= column_chart demos_by_month(demos),
  title: 'Demo Count by Month',
  nonce: content_security_policy_script_nonce,
  id: 'demo_count_by_month', html: '' %>
</div>
