<% provide(:title, "#{@player.name} | Stats") %>
<% provide(:description, "Detailed stats for #{@player.name} speedruns") %>

<div class="center-text">
  <%= player_header(@player) %>
  <%= player_sub_header(@player) %>
</div>

<% demos = @player.demos %>

<% cache ['player_stats_v001', @player] do %>
  <% stats = player_stats(@player) %>

<div class="center-text">
  <div class="panel panel-default panel-modest left-text">
    <div class="table-wrapper">
      <table class="table table-striped table-modest">
        <div class="panel-heading">
          <h3 class="panel-title center-text">Player Stats</h3>
        </div>
        <tbody>
          <tr>
            <td>Number of demos</td>
            <td><%= stats[:demo_count] %></td>
          </tr>
          <tr>
            <td>Longest demo</td>
            <td><%= stats[:longest_demo] %></td>
          </tr>
          <tr>
            <td>Total time</td>
            <td><%= stats[:total_time] %></td>
          </tr>
          <tr>
            <td>Average demo time</td>
            <td><%= stats[:average_time] %></td>
          </tr>
          <tr>
            <td>Number of wads</td>
            <td><%= stats[:wad_count] %></td>
          </tr>
          <tr>
            <td>Average demos per wad</td>
            <td><%= stats[:average_demo_count] %></td>
          </tr>
          <tr>
            <td>Most recorded wad</td>
            <td><%= stats[:top_wad] %></td>
          </tr>
          <tr>
            <td>Most recorded category</td>
            <td><%= stats[:top_category] %></td>
          </tr>
          <tr>
            <td>Tas count</td>
            <td><%= stats[:tas_count] %></td>
          </tr>
          <tr>
            <td>Record index</td>
            <td><%= @player.record_index %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>
<% end %>

<div id="demo_count_by_year" class="chart-style">
  <%= column_chart demos_by_year(demos),
  dataset: default_bar_plot_options,
  library: default_plot_options,
  title: 'Demo Count by Year',
  nonce: content_security_policy_script_nonce,
  id: 'demo_count_by_year', html: '' %>
</div>
