<nav class ="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">DSDA</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= root_url %>">Home</a>
        </li>
        <li>
          <a href="<%= players_url %>">Players</a>
        </li>
        <li>
          <a href="<%= iwads_url %>">Iwads</a>
        </li>
        <li>
          <a href="<%= ports_url %>">Ports</a>
        </li>
      </ul>
      <%= bootstrap_form_tag url: search_path, method: "get", layout: :inline,
                            html: { class: "navbar-form navbar-left" } do |f| %>
        <%= f.text_field :search, placeholder: "Search", hide_label: true, control_class: "form-control nav-search" %>
        <%= f.submit "Search", class: "btn btn-primary btn-xs" %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%= feed_url %>">Feed</a>
        </li>
        <li>
          <a href="<%= stats_url %>">Stats</a>
        </li>
        <li>
          <a href="<%= settings_url %>">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
