<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/wad_list' %>
      <div class="center-text">
        <% flash.each do |message_type, message| %>
          <% sub_message = message.split("%%") %>
          <div class="alert alert-<%= message_type %> alert-modest left-text">
            <% if sub_message.count == 1 %>
              <%= message %>
            <% else %>
              <strong><%= sub_message[0] %></strong><%= sub_message[1] %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
